In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_excel('Entertainer - Basic Info.xlsx')
df1='Entertain.csv'
df.to_csv(df1,index=False)

In [3]:
df2=pd.read_excel('Entertainer - Breakthrough Info.xlsx')
df3='Entertain_break.csv'
df2.to_csv(df3,index=False)

In [4]:
df4=pd.read_excel('Entertainer - Last Work Info.xlsx')
df5='Entertain_lastwork.csv'
df4.to_csv(df5,index=False)

In [5]:
df2

,Entertainer,Year of Breakthrough/#1 Hit/Award Nomination,Breakthrough Name,Year of First Oscar/Grammy/Emmy
0,Adele,2008,19,2009.0
1,Angelina Jolie,1999,"Girl, Interrupted",1999.0
2,Aretha Franklin,1967,I Never Loved a Man (The Way I Love You),1968.0
3,Bette Davis,1934,Of Human Bondage,1935.0
4,Betty White,1952,Life with Elilzabeth,1976.0
...,...,...,...,...
65,Tom Hanks,1984,Splash,1993.0
66,Tony Bennett,1951,Because of You,1963.0
67,Wayne Newton,1972,"Daddy, Don't You Walk So Fast",NaN
68,Will Smith,1990,The Fresh Prince of Bel-Air,1988.0
69,Willie Nelson,1975,Red Headed Stranger,1976.0

In [6]:
df2_drop=df2.drop('Entertainer',axis=1)

In [7]:
df4

        Entertainer  Year of Last Major Work (arguable)  Year of Death
0             Adele                                2016            NaN
1    Angelina Jolie                                2016            NaN
2   Aretha Franklin                                2014            NaN
3       Bette Davis                                1989         1989.0
4       Betty White                                2016            NaN
..              ...                                 ...            ...
65        Tom Hanks                                2016            NaN
66     Tony Bennett                                2016            NaN
67     Wayne Newton                                2016            NaN
68       Will Smith                                2016            NaN
69    Willie Nelson                                2016            NaN

[70 rows x 3 columns]

In [8]:
df4_drop=df4.drop('Entertainer',axis=1)

In [9]:
df

        Entertainer Gender (traditional)  Birth Year
0             Adele                    F        1988
1    Angelina Jolie                    F        1975
2   Aretha Franklin                    F        1942
3       Bette Davis                    F        1908
4       Betty White                    F        1922
..              ...                  ...         ...
65        Tom Hanks                    M        1956
66     Tony Bennett                    M        1926
67     Wayne Newton                    M        1942
68       Will Smith                    M        1968
69    Willie Nelson                    M        1933

[70 rows x 3 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Entertainer           70 non-null     object
 1   Gender (traditional)  70 non-null     object
 2   Birth Year            70 non-null     int64
dtypes: int64(1), object(2)
memory usage: 1.8+ KB

In [11]:
df.loc[5:64,:]

          Entertainer Gender (traditional)  Birth Year
5         Bing Crosby                    M        1903
6            Bob Hope                    M        1903
7       Carol Burnett                    F        1933
8      Carole Lombard                    F        1908
9       Carrie Fisher                    F        1956
10         Cary Grant                    M        1904
11    Charlie Chaplin                    M        1889
12          Clara Bow                    F        1905
13        Clark Gable                    M        1901
14    David Letterman                    M        1947
15    Debbie Reynolds                    F        1932
16  Denzel Washington                    M        1954
17      Dick Van Dyke                    M        1925
18  Donald Sutherland                    M        1935
19     Dustin Hoffman                    M        1937
20        Ed Sullivan                    M        1901
21       Eddie Murphy                    M        1961
22         Elton John                    M        1947
23      Elvis Presley                    M        1935
24      Frank Sinatra                    M        1915
25       Gene Hackman                    M        1930
26     George Michael                    M        1963
27       Gregory Peck                    M        1916
28        Greta Garbo                    F        1905
29    Humphrey Bogart                    M        1899
30         James Dean                    M        1931
31           Jay Leno                    M        1950
32   Jennifer Aniston                    F        1969
33     Jerry Seinfeld                    M        1954
34         Jimmy Page                    M        1944
35      Jimmy Stewart                    M        1908
36      Joan Crawford                    F        1904
37        John Lennon                    M        1940
38         John Wayne                    M        1907
39      Johnny Carson                    M        1925
40        Johnny Depp                    M        1963
41  Justin Timberlake                    M        1981
42  Katherine Hepburn                    F        1907
43  Keifer Sutherland                    M        1966
44       Kirk Douglas                    M        1916
45          Lady Gaga                    F        1986
46  Leonard Bernstein                    M        1918
47  Leonardo DiCaprio                    M        1974
48    Louis Armstrong                    M        1901
49            Madonna                    F        1958
50       Mariah Carey                    F        1969
51      Marlon Brando                    M        1924
52   Mary Tyler Moore                    F        1936
53       Meryl Streep                    F        1949
54        Mick Jagger                    M        1943
55     Morgan Freeman                    M        1937
56      Oprah Winfrey                    F        1954
57     Paul McCartney                    M        1942
58        Paul Newman                    M        1925
59      Peter O'Toole                    M        1932
60             Prince                    M        1958
61     Robert Redford                    M        1936
62     Sidney Poitier                    M        1927
63          Sly Stone                    M        1943
64      Stevie Wonder                    M        1950

In [12]:
for i in df['Entertainer']:
    if i=='Johnny Depp':
        print('1')
    else:
        print('0')

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [13]:
df['Entertainer'].unique()

array(['Adele', 'Angelina Jolie', 'Aretha Franklin', 'Bette Davis',
       'Betty White', 'Bing Crosby', 'Bob Hope', 'Carol Burnett',
       'Carole Lombard', 'Carrie Fisher', 'Cary Grant', 'Charlie Chaplin',
       'Clara Bow', 'Clark Gable', 'David Letterman', 'Debbie Reynolds',
       'Denzel Washington', 'Dick Van Dyke', 'Donald Sutherland',
       'Dustin Hoffman', 'Ed Sullivan', 'Eddie Murphy', 'Elton John',
       'Elvis Presley', 'Frank Sinatra', 'Gene Hackman', 'George Michael',
       'Gregory Peck', 'Greta Garbo', 'Humphrey Bogart', 'James Dean',
       'Jay Leno', 'Jennifer Aniston', 'Jerry Seinfeld', 'Jimmy Page',
       'Jimmy Stewart', 'Joan Crawford', 'John Lennon', 'John Wayne',
       'Johnny Carson', 'Johnny Depp', 'Justin Timberlake',
       'Katherine Hepburn', 'Keifer Sutherland', 'Kirk Douglas',
       'Lady Gaga', 'Leonard Bernstein', 'Leonardo DiCaprio',
       'Louis Armstrong', 'Madonna', 'Mariah Carey', 'Marlon Brando',
       'Mary Tyler Moore', 'Meryl Streep', 'Mick Jagger',
       'Morgan Freeman', 'Oprah Winfrey', 'Paul McCartney', 'Paul Newman',
       "Peter O'Toole", 'Prince', 'Robert Redford', 'Sidney Poitier',
       'Sly Stone', 'Stevie Wonder', 'Tom Hanks', 'Tony Bennett',
       'Wayne Newton', 'Will Smith', 'Willie Nelson'], dtype=object)

In [14]:
result=pd.concat([df,df2_drop,df4_drop],axis=1)
print(result)

        Entertainer Gender (traditional)  Birth Year  \
0             Adele                    F        1988
1    Angelina Jolie                    F        1975
2   Aretha Franklin                    F        1942
3       Bette Davis                    F        1908
4       Betty White                    F        1922
..              ...                  ...         ...
65        Tom Hanks                    M        1956
66     Tony Bennett                    M        1926
67     Wayne Newton                    M        1942
68       Will Smith                    M        1968
69    Willie Nelson                    M        1933

    Year of Breakthrough/#1 Hit/Award Nomination  \
0                                           2008
1                                           1999
2                                           1967
3                                           1934
4                                           1952
..                                           ...
65                                          1984
66                                          1951
67                                          1972
68                                          1990
69                                          1975

                           Breakthrough Name  Year of First Oscar/Grammy/Emmy  \
0                                         19                           2009.0
1                          Girl, Interrupted                           1999.0
2   I Never Loved a Man (The Way I Love You)                           1968.0
3                           Of Human Bondage                           1935.0
4                       Life with Elilzabeth                           1976.0
..                                       ...                              ...
65                                    Splash                           1993.0
66                            Because of You                           1963.0
67             Daddy, Don't You Walk So Fast                              NaN
68               The Fresh Prince of Bel-Air                           1988.0
69                       Red Headed Stranger                           1976.0

    Year of Last Major Work (arguable)  Year of Death
0                                 2016            NaN
1                                 2016            NaN
2                                 2014            NaN
3                                 1989         1989.0
4                                 2016            NaN
..                                 ...            ...
65                                2016            NaN
66                                2016            NaN
67                                2016            NaN
68                                2016            NaN
69                                2016            NaN

[70 rows x 8 columns]

In [15]:
merged_df=pd.merge(df,df2, on='Entertainer' , how='outer')
print(merged_df)

        Entertainer Gender (traditional)  Birth Year  \
0             Adele                    F        1988
1    Angelina Jolie                    F        1975
2   Aretha Franklin                    F        1942
3       Bette Davis                    F        1908
4       Betty White                    F        1922
..              ...                  ...         ...
65        Tom Hanks                    M        1956
66     Tony Bennett                    M        1926
67     Wayne Newton                    M        1942
68       Will Smith                    M        1968
69    Willie Nelson                    M        1933

    Year of Breakthrough/#1 Hit/Award Nomination  \
0                                           2008
1                                           1999
2                                           1967
3                                           1934
4                                           1952
..                                           ...
65                                          1984
66                                          1951
67                                          1972
68                                          1990
69                                          1975

                           Breakthrough Name  Year of First Oscar/Grammy/Emmy
0                                         19                           2009.0
1                          Girl, Interrupted                           1999.0
2   I Never Loved a Man (The Way I Love You)                           1968.0
3                           Of Human Bondage                           1935.0
4                       Life with Elilzabeth                           1976.0
..                                       ...                              ...
65                                    Splash                           1993.0
66                            Because of You                           1963.0
67             Daddy, Don't You Walk So Fast                              NaN
68               The Fresh Prince of Bel-Air                           1988.0
69                       Red Headed Stranger                           1976.0

[70 rows x 6 columns]

In [16]:
merged_df=pd.merge(merged_df,df4, on='Entertainer' , how='outer')
print(merged_df)

        Entertainer Gender (traditional)  Birth Year  \
0             Adele                    F        1988
1    Angelina Jolie                    F        1975
2   Aretha Franklin                    F        1942
3       Bette Davis                    F        1908
4       Betty White                    F        1922
..              ...                  ...         ...
65        Tom Hanks                    M        1956
66     Tony Bennett                    M        1926
67     Wayne Newton                    M        1942
68       Will Smith                    M        1968
69    Willie Nelson                    M        1933

    Year of Breakthrough/#1 Hit/Award Nomination  \
0                                           2008
1                                           1999
2                                           1967
3                                           1934
4                                           1952
..                                           ...
65                                          1984
66                                          1951
67                                          1972
68                                          1990
69                                          1975

                           Breakthrough Name  Year of First Oscar/Grammy/Emmy  \
0                                         19                           2009.0
1                          Girl, Interrupted                           1999.0
2   I Never Loved a Man (The Way I Love You)                           1968.0
3                           Of Human Bondage                           1935.0
4                       Life with Elilzabeth                           1976.0
..                                       ...                              ...
65                                    Splash                           1993.0
66                            Because of You                           1963.0
67             Daddy, Don't You Walk So Fast                              NaN
68               The Fresh Prince of Bel-Air                           1988.0
69                       Red Headed Stranger                           1976.0

    Year of Last Major Work (arguable)  Year of Death
0                                 2016            NaN
1                                 2016            NaN
2                                 2014            NaN
3                                 1989         1989.0
4                                 2016            NaN
..                                 ...            ...
65                                2016            NaN
66                                2016            NaN
67                                2016            NaN
68                                2016            NaN
69                                2016            NaN

[70 rows x 8 columns]

In [17]:
merged_df.to_csv('merged_df.csv',index=False)

In [18]:
merged_df

,Entertainer,Gender (traditional),Birth Year,Year of Breakthrough/#1 Hit/Award Nomination,Breakthrough Name,Year of First Oscar/Grammy/Emmy,Year of Last Major Work (arguable),Year of Death
0,Adele,F,1988,2008,19,2009.0,2016,NaN
1,Angelina Jolie,F,1975,1999,"Girl, Interrupted",1999.0,2016,NaN
2,Aretha Franklin,F,1942,1967,I Never Loved a Man (The Way I Love You),1968.0,2014,NaN
3,Bette Davis,F,1908,1934,Of Human Bondage,1935.0,1989,1989.0
4,Betty White,F,1922,1952,Life with Elilzabeth,1976.0,2016,NaN
...,...,...,...,...,...,...,...,...
65,Tom Hanks,M,1956,1984,Splash,1993.0,2016,NaN
66,Tony Bennett,M,1926,1951,Because of You,1963.0,2016,NaN
67,Wayne Newton,M,1942,1972,"Daddy, Don't You Walk So Fast",NaN,2016,NaN
68,Will Smith,M,1968,1990,The Fresh Prince of Bel-Air,1988.0,2016,NaN
69,Willie Nelson,M,1933,1975,Red Headed Stranger,1976.0,2016,NaN

In [19]:
merged_df.isna().sum()

Entertainer                                      0
Gender (traditional)                             0
Birth Year                                       0
Year of Breakthrough/#1 Hit/Award Nomination     0
Breakthrough Name                                0
Year of First Oscar/Grammy/Emmy                  6
Year of Last Major Work (arguable)               0
Year of Death                                   40
dtype: int64

In [20]:
merged_df['Year of Death'].unique()

array([  nan, 1989., 1977., 2003., 1942., 2016., 1986., 1965., 1960.,
       1974., 1998., 1990., 1957., 1955., 1997., 1980., 1979., 2005.,
       1971., 2004., 2008., 2013.])

In [21]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 8 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Entertainer                                   70 non-null     object
 1   Gender (traditional)                          70 non-null     object
 2   Birth Year                                    70 non-null     int64
 3   Year of Breakthrough/#1 Hit/Award Nomination  70 non-null     int64
 4   Breakthrough Name                             70 non-null     object
 5   Year of First Oscar/Grammy/Emmy               64 non-null     float64
 6   Year of Last Major Work (arguable)            70 non-null     int64
 7   Year of Death                                 30 non-null     float64
dtypes: float64(2), int64(3), object(3)
memory usage: 4.5+ KB

In [22]:
print(merged_df.columns)

Index(['Entertainer', 'Gender (traditional)', 'Birth Year',
       'Year of Breakthrough/#1 Hit/Award Nomination', 'Breakthrough Name',
       'Year of First Oscar/Grammy/Emmy', 'Year of Last Major Work (arguable)',
       'Year of Death'],
      dtype='object')

In [38]:
merged_df['Breakthrough Name'].unique()

array([19, 'Girl, Interrupted',
       'I Never Loved a Man (The Way I Love You)', 'Of Human Bondage',
       'Life with Elilzabeth', 'Several Songs',
       'The Big Broadcast of 1938', 'The Garry Moore Show',
       "She Done Him Wrong, I'm No Angel", 'The Tramp',
       'It Happened One Night', 'Late Night with David Letterman',
       'Glory', 'Bye Bye Birdie, The Dick Van Dyke Show',
       'The Dirty Dozen', 'The Graduate', 'Toast of the Town',
       'Saturday Night Live', 'Honky Chateau', 'Heartbreak Hotel',
       "I'll Never Smile Again", 'Bonnie and Clyde',
       'Wake Me Up Before You Go-Go', 'The Keys of the Kingdom',
       'Anna Christie', 'The Petrified Forest', 'East of Eden',
       'The Tonight Show', 'Friends', 'Seinfeld', 'Led Zeppelin 2',
       "You Can't Take it With You", 'Our Dancing Daughters',
       'I Want to Hold Your Hand', 'Stagecoach',
       'The Tonight Show Starring Johnny Carson', 'No Strings Attached',
       'Morning Glory', 24, 'Champion', 'The Fame', 'West Side Story',
       'Titanic', 'Hello, Dolly!', 'Like A Virgin', 'Mariah Carey',
       'Streetcar Named Desire', 'The Dick Van Dyke Show',
       'The Deer Hunter', "(I Can't Get No) Satisfaction",
       'Driving Miss Daisy and Glory', 'The Color Purple',
       'Cat on a Hot Tin Roof', 'Lawrence of Arabia', 'Prince',
       'Butch Cassidy and the Sundance Kid', 'Blackboard Jungle',
       'Everyday People', 'Fingertips', 'Splash', 'Because of You',
       'The Fresh Prince of Bel-Air', 'Red Headed Stranger'], dtype=object)

In [27]:
merged_df['Year of First Oscar/Grammy/Emmy'].isna().sum()

6

In [32]:
# merged_df['Year of First Oscar/Grammy/Emmy']=merged_df['Year of First Oscar/Grammy/Emmy'].astype(int)
drop=merged_df.dropna(subset=['Year of First Oscar/Grammy/Emmy'],inplace=True)

In [33]:
 merged_df['Year of First Oscar/Grammy/Emmy'].isna().sum()
# infinite_values = merged_df['Year of First Oscar/Grammy/Emmy'].isin([float('inf'), float('-inf')]).sum()
# print(f"Number of infinite values: {infinite_values}")

0

In [34]:
#backward fill
median_year = merged_df['Year of Death'].median()
merged_df['Year of Death'] = merged_df['Year of First Oscar/Grammy/Emmy'].fillna(median_year)
print("\nDataFrame after filling NaN with median:")
print(merged_df)

DataFrame after filling NaN with median:
        Entertainer Gender (traditional)  Birth Year  \
0             Adele                    F        1988
1    Angelina Jolie                    F        1975
2   Aretha Franklin                    F        1942
3       Bette Davis                    F        1908
4       Betty White                    F        1922
..              ...                  ...         ...
64    Stevie Wonder                    M        1950
65        Tom Hanks                    M        1956
66     Tony Bennett                    M        1926
68       Will Smith                    M        1968
69    Willie Nelson                    M        1933

    Year of Breakthrough/#1 Hit/Award Nomination  \
0                                           2008
1                                           1999
2                                           1967
3                                           1934
4                                           1952
..                                           ...
64                                          1963
65                                          1984
66                                          1951
68                                          1990
69                                          1975

                           Breakthrough Name  Year of First Oscar/Grammy/Emmy  \
0                                         19                           2009.0
1                          Girl, Interrupted                           1999.0
2   I Never Loved a Man (The Way I Love You)                           1968.0
3                           Of Human Bondage                           1935.0
4                       Life with Elilzabeth                           1976.0
..                                       ...                              ...
64                                Fingertips                           1973.0
65                                    Splash                           1993.0
66                            Because of You                           1963.0
68               The Fresh Prince of Bel-Air                           1988.0
69                       Red Headed Stranger                           1976.0

    Year of Last Major Work (arguable)  Year of Death
0                                 2016         2009.0
1                                 2016         1999.0
2                                 2014         1968.0
3                                 1989         1935.0
4                                 2016         1976.0
..                                 ...            ...
64                                2005         1973.0
65                                2016         1993.0
66                                2016         1963.0
68                                2016         1988.0
69                                2016         1976.0

[64 rows x 8 columns]

In [40]:
merged_df['Year of First Oscar/Grammy/Emmy']=merged_df['Year of First Oscar/Grammy/Emmy'].astype(int)
merged_df['Year of Death']=merged_df['Year of Death'].astype(int)
merged_df

,Entertainer,Gender (traditional),Birth Year,Year of Breakthrough/#1 Hit/Award Nomination,Breakthrough Name,Year of First Oscar/Grammy/Emmy,Year of Last Major Work (arguable),Year of Death
0,Adele,F,1988,2008,19,2009,2016,2009
1,Angelina Jolie,F,1975,1999,"Girl, Interrupted",1999,2016,1999
2,Aretha Franklin,F,1942,1967,I Never Loved a Man (The Way I Love You),1968,2014,1968
3,Bette Davis,F,1908,1934,Of Human Bondage,1935,1989,1935
4,Betty White,F,1922,1952,Life with Elilzabeth,1976,2016,1976
...,...,...,...,...,...,...,...,...
64,Stevie Wonder,M,1950,1963,Fingertips,1973,2005,1973
65,Tom Hanks,M,1956,1984,Splash,1993,2016,1993
66,Tony Bennett,M,1926,1951,Because of You,1963,2016,1963
68,Will Smith,M,1968,1990,The Fresh Prince of Bel-Air,1988,2016,1988
69,Willie Nelson,M,1933,1975,Red Headed Stranger,1976,2016,1976

In [41]:
merged_df.iloc[5:65,:]

,Entertainer,Gender (traditional),Birth Year,Year of Breakthrough/#1 Hit/Award Nomination,Breakthrough Name,Year of First Oscar/Grammy/Emmy,Year of Last Major Work (arguable),Year of Death
5,Bing Crosby,M,1903,1931,Several Songs,1962,1974,1962
6,Bob Hope,M,1903,1938,The Big Broadcast of 1938,1940,1972,1940
7,Carol Burnett,F,1933,1959,The Garry Moore Show,1962,2016,1962
10,Cary Grant,M,1904,1933,"She Done Him Wrong, I'm No Angel",1970,1966,1970
11,Charlie Chaplin,M,1889,1915,The Tramp,1929,1967,1929
13,Clark Gable,M,1901,1934,It Happened One Night,1934,1960,1934
14,David Letterman,M,1947,1982,Late Night with David Letterman,1981,2015,1981
16,Denzel Washington,M,1954,1989,Glory,1989,2016,1989
17,Dick Van Dyke,M,1925,1961,"Bye Bye Birdie, The Dick Van Dyke Show",1964,2015,1964
18,Donald Sutherland,M,1935,1967,The Dirty Dozen,1995,2016,1995
19,Dustin Hoffman,M,1937,1967,The Graduate,1980,2016,1980
20,Ed Sullivan,M,1901,1948,Toast of the Town,1956,1973,1956
21,Eddie Murphy,M,1961,1980,Saturday Night Live,2001,2016,2001
22,Elton John,M,1947,1972,Honky Chateau,1987,2016,1987
23,Elvis Presley,M,1935,1956,Heartbreak Hotel,1959,1977,1959
24,Frank Sinatra,M,1915,1940,I'll Never Smile Again,1946,1980,1946
25,Gene Hackman,M,1930,1967,Bonnie and Clyde,1971,2004,1971
26,George Michael,M,1963,1984,Wake Me Up Before You Go-Go,1988,2004,1988
27,Gregory Peck,M,1916,1944,The Keys of the Kingdom,1962,1991,1962
28,Greta Garbo,F,1905,1930,Anna Christie,1954,1941,1954
29,Humphrey Bogart,M,1899,1936,The Petrified Forest,1951,1956,1951
30,James Dean,M,1931,1953,East of Eden,1955,1955,1955
31,Jay Leno,M,1950,1992,The Tonight Show,1995,2014,1995
32,Jennifer Aniston,F,1969,1994,Friends,2002,2016,2002
33,Jerry Seinfeld,M,1954,1988,Seinfeld,1992,2016,1992
34,Jimmy Page,M,1944,1969,Led Zeppelin 2,1999,2016,1999
35,Jimmy Stewart,M,1908,1938,You Can't Take it With You,1941,1980,1941
36,Joan Crawford,F,1904,1928,Our Dancing Daughters,1946,1970,1946
37,John Lennon,M,1940,1963,I Want to Hold Your Hand,1965,1980,1965
38,John Wayne,M,1907,1939,Stagecoach,1970,1976,1970
39,Johnny Carson,M,1925,1962,The Tonight Show Starring Johnny Carson,1976,1992,1976
41,Justin Timberlake,M,1981,2000,No Strings Attached,2004,2016,2004
42,Katherine Hepburn,F,1907,1933,Morning Glory,1933,1994,1933
43,Keifer Sutherland,M,1966,2001,24,2006,2016,2006
44,Kirk Douglas,M,1916,1949,Champion,1996,2004,1996
45,Lady Gaga,F,1986,2008,The Fame,2010,2016,2010
46,Leonard Bernstein,M,1918,1957,West Side Story,1962,1989,1962
47,Leonardo DiCaprio,M,1974,1997,Titanic,2016,2016,2016
48,Louis Armstrong,M,1901,1964,"Hello, Dolly!",1993,1970,1993
49,Madonna,F,1958,1984,Like A Virgin,1992,2015,1992
50,Mariah Carey,F,1969,1990,Mariah Carey,1991,2014,1991
51,Marlon Brando,M,1924,1951,Streetcar Named Desire,1953,2001,1953
52,Mary Tyler Moore,F,1936,1961,The Dick Van Dyke Show,1964,2013,1964
53,Meryl Streep,F,1949,1978,The Deer Hunter,1980,2016,1980
54,Mick Jagger,M,1943,1965,(I Can't Get No) Satisfaction,1987,2016,1987
55,Morgan Freeman,M,1937,1989,Driving Miss Daisy and Glory,2005,2016,2005
56,Oprah Winfrey,F,1954,1985,The Color Purple,1987,2016,1987
57,Paul McCartney,M,1942,1963,I Want to Hold Your Hand,1965,2016,1965
58,Paul Newman,M,1925,1958,Cat on a Hot Tin Roof,1986,2005,1986
59,Peter O'Toole,M,1932,1962,Lawrence of Arabia,2002,2013,2002
60,Prince,M,1958,1979,Prince,1984,2016,1984
61,Robert Redford,M,1936,1969,Butch Cassidy and the Sundance Kid,1980,2016,1980
62,Sidney Poitier,M,1927,1955,Blackboard Jungle,1964,2008,1964
63,Sly Stone,M,1943,1968,Everyday People,2017,1971,2017
64,Stevie Wonder,M,1950,1963,Fingertips,1973,2005,1973
65,Tom Hanks,M,1956,1984,Splash,1993,2016,1993
66,Tony Bennett,M,1926,1951,Because of You,1963,2016,1963
68,Will Smith,M,1968,1990,The Fresh Prince of Bel-Air,1988,2016,1988
69,Willie Nelson,M,1933,1975,Red Headed Stranger,1976,2016,1976

In [50]:
merged_df.rename(columns={'Year of Breakthrough/#1 Hit/Award Nomination':'Year of Breakthrough'},inplace=True)
merged_df.rename(columns={'Year of Last Major Work (arguable)':'Year of Last Major Work'},inplace=True)
merged_df.rename(columns={'Gender (traditional)':'Gender'},inplace=True)
merged_df.head()

,Entertainer,Gender,Birth Year,Year of Breakthrough,Breakthrough Name,Year of First Award,Year of Last Major Work,Year of Death
0,Adele,F,1988,2008,19,2009,2016,2009
1,Angelina Jolie,F,1975,1999,"Girl, Interrupted",1999,2016,1999
2,Aretha Franklin,F,1942,1967,I Never Loved a Man (The Way I Love You),1968,2014,1968
3,Bette Davis,F,1908,1934,Of Human Bondage,1935,1989,1935
4,Betty White,F,1922,1952,Life with Elilzabeth,1976,2016,1976

In [51]:
merged_df.to_csv('merged_df.csv',index=False)